﻿@namespace DangerousSprinkler.ClientApp
@inject StaticData StaticData
@inject MarketService Market
@page "/"

<RadzenDataList id="prices" WrapItems="true" AllowPaging="false" Data="@commodities" TItem="CommodityCardInfo">
    <Template Context="data">
        <CommodityPriceCard commodity="@data.commodity" subscription="@data.subscription" />
    </Template>
</RadzenDataList>


@code {
    List<CommodityCardInfo> commodities = new();
    internal record CommodityCardInfo (CommodityEntry commodity, LiveCommoditySubscriptionInfo subscription);

    protected override void OnInitialized()
    {
        base.OnInitialized();

        CommodityEntry cevo = StaticData.Commodities.First(t => t.SymbolicName == "Painite");
        LiveCommoditySubscriptionInfo vo = new LiveCommoditySubscriptionInfo
        {
            Name = "Painite",
            MinPrice = 200000,
            ReferenceSystemName = "GCRV 1568",
            MaxDistance = 500,
            MaxSCDistance = 1000000,
        };
        commodities.Add(new CommodityCardInfo(cevo, vo));
    }
}