@namespace DangerousSprinkler.ClientApp
@inject StaticData StaticData
@inject MarketService Market
@implements IDisposable

<RadzenCard style="width:800px; height:500px">
    <div class="col">
        <div>@commodity.LocalisedName</div>
    </div>
    <div class="col">
        <RadzenGrid @ref="prices_grid" Data="@prices" TItem="LiveCommodityStation" AllowSorting="true">
            <Columns>
                <RadzenGridColumn TItem="LiveCommodityStation" Title="Station" SortProperty="CurrentUpdate.DistanceFromStar">
                    <Template Context="data">
                        <img @attributes="@(getStationImgAttributes(data))" style="width:12px; height:12px" />
                        @data.CurrentUpdate.StationName (@(data.CurrentUpdate.DistanceFromStar)Ls)
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="LiveCommodityStation" Title="System" SortProperty="CurrentUpdate.DistanceToRefSystem">
                    <Template Context="data">
                        @data.CurrentUpdate.SystemName (@(data.CurrentUpdate.DistanceToRefSystem.ToString("N2"))Ly)
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="LiveCommodityStation"  Title="Sell Price" SortProperty="CurrentUpdate.SellPrice">
                    <Template Context="data">
                        @data.CurrentUpdate.SellPrice
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="LiveCommodityStation" Title="Demand" SortProperty="CurrentUpdate.Demand">
                    <Template Context="data">
                        <!-- TODO: demand bracket icon -->
                        @data.CurrentUpdate.Demand (@data.CurrentUpdate.DemandBracket)
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="LiveCommodityStation" Title="First Seen" SortProperty="FirstSeenAt">
                    <Template Context="data">
                        @((DateTime.UtcNow - data.FirstSeenAt).ToHumanReadableString())
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="LiveCommodityStation" Title="Last Updated" SortProperty="CurrentUpdate.UpdatedAt">
                    <Template Context="data">
                        @((DateTime.UtcNow - DateTime.Parse(data.CurrentUpdate.UpdatedAt)).ToHumanReadableString())
                    </Template>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    </div>
</RadzenCard>

@code {
    [Parameter]
    public CommodityEntry commodity { get; set; } = null;
    [Parameter]
    public LiveCommoditySubscriptionInfo subscription { get; set; } = null;
    [Parameter]
    public List<LiveCommodityStation> prices { get; set; } = new();
    RadzenGrid<LiveCommodityStation> prices_grid = new();

    private Dictionary<string, object> getStationImgAttributes(LiveCommodityStation data)
        => new Dictionary<string, object> { {"src", "/img/" + data.CurrentUpdate.StationType + ".svg" } };

    public class LiveCommodityStation
    {
        public LiveCommodityStation(LiveCommodityUpdate update)
        {
            CurrentUpdate = update;
            MarketID = update.MarketID;
            FirstSeenAt = DateTimeOffset.Parse(update.UpdatedAt);
        }

        public ulong MarketID;
        public LiveCommodityUpdate CurrentUpdate;
        public DateTimeOffset FirstSeenAt;
        public DateTimeOffset LastUpdatedAt;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Market.Subscribe(subscription);
        Market.CommodityUpdateReceived += OnCommodityUpdate;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
            prices_grid.OrderByDescending("CurrentUpdate.SellPrice");
    }

    internal void OnCommodityUpdate(object sender, CommodityUpdateEventArgs e)
    {
        if (e.Update.CommodityName == subscription.Name)
        {
            if (!prices.Any(t => t.MarketID == e.Update.MarketID))
                prices.Add(new LiveCommodityStation(e.Update));
            var cst = prices.First(t => t.MarketID == e.Update.MarketID);
            cst.CurrentUpdate = e.Update;
            cst.LastUpdatedAt = DateTimeOffset.Parse(e.Update.UpdatedAt);
            _ = ReloadGrid();
        }
    }

    private async Task ReloadGrid()
    {
        await InvokeAsync(prices_grid.Reload);
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Market.CommodityUpdateReceived -= OnCommodityUpdate;
        Market.Unsubscribe(subscription.Name);
    }
}