@namespace DangerousSprinkler.ClientApp
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <!-- <NavMenu /> -->
    </div>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
